section ,header  , html , body ,p , img ,input , label {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    width:100vw;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
}
header {
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
}
header img {
    height: 8vh;
}
#title {
    display: block;
    padding-top: 1.65rem;
    width: 100%;
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 5.2rem;
    margin: 0 auto;
    color: #3191dc;
}
#input{
    margin: 0 auto;
    margin-top: 0.5rem;
    /*border: 1px solid black;*/
    width: 80%;
    height: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
#result {
    width: 80%;
    height: 50vh;
    display: none;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 1rem;
}

#result img {
    width: 65%;
    margin: 0 auto;
    margin-top: 0.7rem;
}
#resP {
    margin-top: 0.8rem;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    margin-bottom: 0.3rem;
}
#reset {
    background-color: darkblue;
    border-radius: 20%;
    height: 7vh;
    width: 24vw;
    font-size: 1.5rem;
    color: white;
    margin: 0 auto;
    margin-top: 1.34rem;
}
#input div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 1.25rem;
}
#label1 ,#label2 , #label3 {
    font-size: 1.5rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    margin-bottom: .65rem;
}

#input1 , #input2 , #input3 {
    border: transparent;
    border-bottom: 1px solid grey;
    height: 2.3rem;
    width: 17rem;
    font-size:1.45rem;
    color: grey;
    margin-top: 0.4rem;
}
#check {
    background-color: crimson;
    border-radius: 20%;
    height: 9vh;
    width: 27vw;
    font-size: 1.7rem;
    color: white;
    margin-top: 1.5rem;
}